DB_HOST=
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=semantic-search
REDIS_HOST=localhost
REDIS_PORT=6379
OPENROUTER_API_KEY=
EMBEDDING_MODEL=text-embedding-ada-002
